
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main page</title>

</head>
<body>
<div>
  <a th:href="@{/hospitals/{hospitalId}/mainPage(hospitalId=${hospitalId})}">
    <button type="button">back</button>
  </a>
  <a th:href="@{/doctors/{hospitalId}/new(hospitalId=${hospitalId})}" class="btn btn-primary">
    <button type="button">Add</button>
  </a>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Position</th>
      <th>UPDATE</th>
      <th>DELETE</th>
      <th>ASSIGN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
      <td th:text="${doctor.getFirstName()}"></td>

      <td th:text="${doctor.getLastName()}"></td>

      <td th:text="${doctor.getEmail()}"></td>

      <td th:text="${doctor.getPosition()}"></td>





      <td>
        <form th:method="GET" th:action="@{/doctors/{hospitalId}/{doctorId}/edit(hospitalId=${hospitalId},doctorId=${doctor.getId()})}">
          <input type="submit"  th:value="UPDATE"/>
        </form>
      </td>
      <td>
        <form th:method="GET" th:action="@{/doctors/{hospitalId}/{doctorId}/delete(hospitalId=${hospitalId},doctorId=${doctor.getId()})}">
          <button type="submit">DELETE</button>
        </form>
      </td>
      <td>
        <form th:method="GET" th:action="@{/doctors/{doctorId}/assign(doctorId=${doctor.getId()})}">
          <button type="submit">ASSIGN</button>
        </form>
      </td>


    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
